/* stylelint-disable function-no-unknown, shorthand-property-no-redundant-values */
@import '../../../style/index.scss';

.calendarInput {
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: $color-grey;

  width: 325px;
  margin-bottom: 25px;

  justify-content: space-between;

  &Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 265px;
    margin: 10px 0 10px 20px;

    &Label {
      line-height: 10px;
      margin-bottom: 15px;
    }

    &Text {
      line-height: 20px;
    }
  }

  &Right {
    width: 65px;
    background-color: lighten($color-black, 80);
    align-items: center;
    cursor: pointer;

    svg {
      margin: 10px 10px 10px 10px;
    }
  }
}
