// CSS styling configuration implementing a theme
// containing font and color choices

// font family
$font-family-primary: 'metabold_roman', arial;

// font size
$font-size-large: 30px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-tiny: 8px;

// colors
$color-white: #fff;
$color-grey: #c6c6c6;
$color-blue: #114780;
$color-blue-grey: #69c;
$color-black: #1f1f1f;
